<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="/app.css">
    
</head>
<body>
    <section id="nav">
        <div>
            <form id="searchBar" action="/search" method="post">
                <input type="text" name="search" placeholder="Search" id="search">
                <button><img src="search.png" alt=""></button>
            </form>
        </div>
        <div id="options">
            <span><a href="/">Home</a></span>
            <span><a href="/update">Update</a></span>
            <span><a href="/delete">Delete</a></span>
            <span><a href="/view">View</a></span>
        </div>
    </section>
    <div id="close">
        <% if (closestBirthday) { %>
            Closest Birthday: <%= closestName %> : <%= closestBirthday.toLocaleDateString() %>
        <% } else { %>
            <p>No upcoming birthdays !</p>
        <% } %>

    </div>
    <div id="container">
        <div>
            <div id="change" class="change">
                <% if(dataWithAge && dataWithAge.length > 0) { %>
                    <% dataWithAge.forEach(person => { %>
                        <div id="view">
                            Name: <%= person.name %> <br>
                            Birthday: <%= person.birthdate %> <br>
                            Age: <%= person.age %> <br> <br>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Database is Empty.</p>
                    <p>Please add something.</p>
                <% } %>
        </div>
    </div>
</body>
</html>